*.o
*.so
/_gitignored/
# CMake
CMakeCache.txt
CMakeFiles
CMakeScripts
Makefile
cmake_install.cmake
install_manifest.txt
CTestTestfile.cmake
build/
# generated headers
*.generated.[ch]
# Do not ignore hand-written Makefiles
!/examples/*/moonscript/Makefile
