*.o
*.so
/_gitignored/
# CMake
CMakeCache.txt
CMakeFiles
CMakeScripts
Makefile
cmake_install.cmake
install_manifest.txt
CTestTestfile.cmake
build/
# generated headers
*.generated.[ch]
# generated man pages
luastatus*.[1-8]
