version: 2.1
workflows:
  nanodesu:
    jobs:
      - subetedesu:
          matrix:
            parameters:
              luaver: ["lua5.1/liblua5.1-dev", "luajit/libluajit-5.1-dev", "lua5.2/liblua5.2-dev", "lua5.3/liblua5.3-dev"]

jobs:
  subetedesu:
    docker:
      - image: cimg/base:2021.01-20.04
    parameters:
      luaver:
        type: string
    steps:
      - checkout
      - run: sudo apt-get update
      - run: v=<< parameters.luaver >>; sudo apt-get install -y ${v#*/} lua-socket lua-sec python3-docutils cmake valgrind pulseaudio pulseaudio-utils dbus dbus-x11 jq libxcb1-dev libyajl-dev libasound2-dev libglib2.0-dev libpulse-dev libudev-dev libnl-3-dev libnl-genl-3-dev libx11-dev libxcb1-dev libxcb-ewmh-dev libxcb-icccm4-dev libxcb-util0-dev libwebsockets-dev libcurl4-gnutls-dev
      - run: v=<< parameters.luaver >>; cmake -DWITH_LUA_LIBRARY=${v%/*} -DBUILD_PLUGIN_PULSE=ON -DBUILD_PLUGIN_UNIXSOCK=ON -DBUILD_PLUGIN_LLAMACXX=ON -DBUILD_TESTS=ON .
      - run: make -j
      - run: ./tests/torture.sh .
      - run: v=<< parameters.luaver >>; LUAVER=$v ./.circleci/run-pt.sh
