#! /usr/bin/make -f

export V:=1
export DEB_BUILD_MAINT_OPTIONS:=hardening=+all

BUILD_DIR := _deb_build

override_dh_auto_clean:
	rm -rf $(BUILD_DIR)

override_dh_installexamples:
	dh_installexamples examples/*

override_dh_installchangelogs:
	set -e; if [ -e RELEASE_NOTES ]; then \
		dh_installchangelogs RELEASE_NOTES; \
	else \
		dh_installchangelogs; \
	fi

override_dh_auto_configure:
	set -e; mkdir $(BUILD_DIR); cd $(BUILD_DIR); cmake \
		-DCMAKE_INSTALL_PREFIX=/usr \
		-DWITH_LUA_LIBRARY=luajit -DBUILD_BARLIB_DWM=ON -DBUILD_BARLIB_I3=ON -DBUILD_BARLIB_LEMONBAR=ON -DBUILD_BARLIB_STDOUT=ON -DBUILD_PLUGIN_ALSA=ON -DBUILD_PLUGIN_BACKLIGHT_LINUX=ON -DBUILD_PLUGIN_BATTERY_LINUX=ON -DBUILD_PLUGIN_CPU_FREQ_LINUX=ON -DBUILD_PLUGIN_CPU_USAGE_LINUX=ON -DBUILD_PLUGIN_DBUS=ON -DBUILD_PLUGIN_DISK_IO_LINUX=ON -DBUILD_PLUGIN_FILE_CONTENTS_LINUX=ON -DBUILD_PLUGIN_FS=ON -DBUILD_PLUGIN_IMAP=ON -DBUILD_PLUGIN_INOTIFY=ON -DBUILD_PLUGIN_IS_PROGRAM_RUNNING=ON -DBUILD_PLUGIN_MEM_USAGE_LINUX=ON -DBUILD_PLUGIN_MPD=ON -DBUILD_PLUGIN_MPRIS=ON -DBUILD_PLUGIN_MULTIPLEX=ON -DBUILD_PLUGIN_NETWORK_LINUX=ON -DBUILD_PLUGIN_NETWORK_RATE_LINUX=ON -DBUILD_PLUGIN_PIPEV2=ON -DBUILD_PLUGIN_PULSE=ON -DBUILD_PLUGIN_SYSTEMD_UNIT=ON -DBUILD_PLUGIN_TEMPERATURE_LINUX=ON -DBUILD_PLUGIN_TIMER=ON -DBUILD_PLUGIN_UDEV=ON -DBUILD_PLUGIN_UNIXSOCK=ON -DBUILD_PLUGIN_WEB=ON -DBUILD_PLUGIN_XKB=ON -DBUILD_PLUGIN_XTITLE=ON \
		-DBUILD_TESTS=on \
		-S .. -B .

override_dh_auto_build:
	$(MAKE) -C $(BUILD_DIR)

override_dh_auto_install:
	# luastatus itself
	$(MAKE) -C $(BUILD_DIR)/luastatus install \
		DESTDIR=../../debian/luastatus
	# "core" barlibs (that should go into luastatus pkg)
	set -e; for x in ; do \
		$(MAKE) -C $(BUILD_DIR)/barlibs/$$x install \
			DESTDIR=../../../debian/luastatus; \
	done
	# other barlibs
	set -e; for x in dwm i3 lemonbar stdout; do \
		$(MAKE) -C $(BUILD_DIR)/barlibs/$$x install \
			DESTDIR=../../../debian/luastatus-barlib-$$x; \
	done
	# "core" plugins (that should go into luastatus pkg)
	set -e; for x in backlight-linux battery-linux cpu-freq-linux cpu-usage-linux dbus disk-io-linux file-contents-linux fs inotify is-program-running mem-usage-linux mpd mpris multiplex network-linux network-rate-linux pipev2 temperature-linux timer udev unixsock; do \
		$(MAKE) -C $(BUILD_DIR)/plugins/$$x install \
			DESTDIR=../../../debian/luastatus; \
	done
	# other plugins
	set -e; for x in alsa imap pulse systemd-unit web xkb xtitle; do \
		$(MAKE) -C $(BUILD_DIR)/plugins/$$x install \
			DESTDIR=../../../debian/luastatus-plugin-$$x; \
	done
	# man page symlink: luastatus-i3-wrapper(1) -> luastatus-barlib-i3(7)
	mkdir debian/luastatus-barlib-i3/usr/share/man/man1
	ln -s ../man7/luastatus-barlib-i3.7 \
		debian/luastatus-barlib-i3/usr/share/man/man1/luastatus-i3-wrapper.1
	# man page symlink: luastatus-lemonbar-launcher(1) -> luastatus-barlib-lemonbar(7)
	mkdir debian/luastatus-barlib-lemonbar/usr/share/man/man1
	ln -s ../man7/luastatus-barlib-lemonbar.7 \
		debian/luastatus-barlib-lemonbar/usr/share/man/man1/luastatus-lemonbar-launcher.1
	# man page symlink: luastatus-stdout-wrapper(1) -> luastatus-barlib-stdout(7)
	mkdir debian/luastatus-barlib-stdout/usr/share/man/man1
	ln -s ../man7/luastatus-barlib-stdout.7 \
		debian/luastatus-barlib-stdout/usr/share/man/man1/luastatus-stdout-wrapper.1

override_dh_auto_test:
ifeq (,$(filter nocheck,$(DEB_BUILD_OPTIONS)))
	./tests/torture.sh $(BUILD_DIR)
endif

%:
	exec dh $@
