#! /usr/bin/make -f

export V:=1
export DEB_BUILD_MAINT_OPTIONS:=hardening=+all

BUILD_DIR := _deb_build

override_dh_auto_clean:
	rm -rf $(BUILD_DIR)

override_dh_installexamples:
	dh_installexamples examples/*

override_dh_installchangelogs:
	set -e; if [ -e RELEASE_NOTES ]; then \
		dh_installchangelogs RELEASE_NOTES; \
	else \
		dh_installchangelogs; \
	fi

override_dh_auto_configure:
	set -e; mkdir $(BUILD_DIR); cd $(BUILD_DIR); cmake \
		-DCMAKE_INSTALL_PREFIX=/usr \
		-DWITH_LUA_LIBRARY=lua5.3 \
		-DBUILD_PLUGIN_PULSE=on \
		-DBUILD_PLUGIN_UNIXSOCK=on \
		-S .. -B .

override_dh_auto_build:
	$(MAKE) -C $(BUILD_DIR)

override_dh_auto_install:
	# luastatus itself
	$(MAKE) -C $(BUILD_DIR)/luastatus install \
		DESTDIR=../../debian/luastatus
	# barlibs
	set -e; for x in dwm i3 lemonbar stdout; do \
		$(MAKE) -C $(BUILD_DIR)/barlibs/$$x install \
			DESTDIR=../../../debian/luastatus-barlib-$$x; \
	done
	# "core" plugins (that should go into luastatus pkg)
	set -e; for x in \
		fs timer inotify udev \
		backlight-linux \
		battery-linux \
		cpu-usage-linux \
		file-contents-linux \
		mem-usage-linux \
		pipe \
		unixsock; \
	do \
		$(MAKE) -C $(BUILD_DIR)/plugins/$$x install \
			DESTDIR=../../../debian/luastatus; \
	done
	# other plugins
	set -e; for x in \
		alsa dbus inotify mpd network-linux pulse xkb xtitle \
		imap; \
	do \
		$(MAKE) -C $(BUILD_DIR)/plugins/$$x install \
			DESTDIR=../../../debian/luastatus-plugin-$$x; \
	done
	# man page symlink: luastatus-i3-wrapper(1) -> luastatus-barlib-i3(7)
	mkdir debian/luastatus-barlib-i3/usr/share/man/man1
	ln -s ../man7/luastatus-barlib-i3.7 \
		debian/luastatus-barlib-i3/usr/share/man/man1/luastatus-i3-wrapper.1
	# man page symlink: luastatus-lemonbar-launcher(1) -> luastatus-barlib-lemonbar(7)
	mkdir debian/luastatus-barlib-lemonbar/usr/share/man/man1
	ln -s ../man7/luastatus-barlib-lemonbar.7 \
		debian/luastatus-barlib-lemonbar/usr/share/man/man1/luastatus-lemonbar-launcher.1
	# man page symlink: luastatus-stdout-wrapper(1) -> luastatus-barlib-stdout(7)
	mkdir debian/luastatus-barlib-stdout/usr/share/man/man1
	ln -s ../man7/luastatus-barlib-stdout.7 \
		debian/luastatus-barlib-stdout/usr/share/man/man1/luastatus-stdout-wrapper.1

override_dh_auto_test:
ifeq (,$(filter nocheck,$(DEB_BUILD_OPTIONS)))
	./tests/misc.sh $(BUILD_DIR)
	./tests/torture.sh $(BUILD_DIR)
endif

%:
	exec dh $@
